name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy to EC2 via SSH
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/ubuntu/
          if [ ! -d "cattus-nestjs" ]; then
            git clone https://github.com/${{ github.repository }}.git
          fi
          cd cattus-nestjs
          git checkout main
          set -e
          git pull origin main || (git reset --hard HEAD && git pull origin main)
          docker compose up -d --build

    - name: Verificar API após deploy
      run: |
        sleep 10 # Aguarda alguns segundos para a API subir
        response=$(curl -s -o /dev/null -w "%{http_code}" "${{ secrets.EC2_HOST }}/api")
        if [ "$response" != "200" ]; then
          echo "API não está respondendo corretamente. Status: $response"
          exit 1
        fi
        echo "API está funcionando!"
